@import './assets/styles/main.less';

body {
    font-size: 16px;
}

.tzf {
    position: relative;
    display: flex;
    flex-direction: column;
    min-height: 100vh;

    > .tzf-header {
        flex-shrink: 1;
        background: #ffffff;
        padding: 0;
        z-index: 1;
    }

    > .tzf-content {
        position: relative;
        display: flex;
        flex-direction: row;
        flex-grow: 1;
        background: #ffffff;
        padding: 0;
        z-index: 0;
    }

    > .tzf-footer {
        flex-shrink: 1;
        background: #ffffff;
        padding: 0;
        z-index: 1;
    }

    .tzf {
        flex-direction: unset;
        min-height: unset;
    }
}

.tzf-container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.tzf-pad {
    padding: 20px;

    &-x {
        padding-left: 20px;
        padding-right: 20px;
    }

    &-y {
        padding-top: 20px;
        padding-bottom: 20px;
    }
}

.tzf-shadow {
    box-shadow: 0 0 5px 1px #f2f2f2;

    &-light {
        box-shadow: 0 0 5px 1px #f5f5f5;
    }

    &-dark {
        box-shadow: 0 0 5px 1px #f0f0f0;
    }
}

.tzf-border {
    border: 1px solid #f2f2f2;

    &-bottom {
        border-bottom: 1px solid #f2f2f2;
    }

    &-right {
        border-right: 1px solid #f2f2f2;
    }
}

.tzf-border-none {
    border: none;
}

.tzf-banner {
    width: 100%;
    padding-top: 80px;
    padding-bottom: 80px;
}

.tzf-border-radius-round {
    border-radius: 20px;
}

@media screen and (max-width: 768px) {
    .tzf-text-center-sm {
        text-align: center;
    }

    .tzf-justify-content-center-sm {
        justify-content: center;
    }
}